    <footer>

        <section class="footer-benefits">
            <ul class="benefits-list">
                <li>
                    <img src="/assets/return-icon-light.svg" alt="" class="benefit-icon" width="16" height="16"> 
                    <span>365 days to return</span>
                </li>
                <li>
                    <img src="/assets/warranty-footer-icon.svg" alt="" class="benefit-icon" width="16" height="16">
                    <span>2-year warranty</span>
                </li>
                <li>
                    <img src="/assets/store-footer-icon.svg" alt="" class="benefit-icon" width="16" height="16">
                    <span>Collect in-store</span>
                </li>
                <li>
                    <img src="/assets/retour-icon.svg" alt="" class="benefit-icon" width="16" height="16">
                    <span>We buy back</span>
                </li>

                <li>
                    <img src="/assets/return-icon-light.svg" alt="" class="benefit-icon" width="16" height="16">
                    <span>365 days to return</span>
                </li>
                <li>
                    <img src="/assets/warranty-footer-icon.svg" alt="" class="benefit-icon" width="16" height="16">
                    <span>2-year warranty</span>
                </li>
                <li>
                    <img src="/assets/store-footer-icon.svg" alt="" class="benefit-icon" width="16" height="16">
                    <span>Collect in-store</span>
                </li>
                <li>
                    <img src="/assets/retour-icon.svg" alt="" class="benefit-icon" width="16" height="16">
                    <span>We buy back</span>
                </li>
            </ul>
        </section>

        <section class="footer-community">

            <a href="/">Get the app</a>

            <a href="/">Become a member</a>

            <ul class="social-links">
                <li>
                    <a href="/">
                        <img src="/assets/facebook-icon.svg" alt="Facebook" width="24" height="24">
                    </a>
                </li>

                <li>
                    <a href="/">
                        <img src="/assets/twitter-icon.svg" alt="Twitter" width="24" height="24">
                    </a>
                </li>

                <li>
                    <a href="/">
                        <img src="/assets/youtube-icon.svg" alt="YouTube" width="24" height="24">
                    </a>
                </li>

                <li>
                    <a href="/">
                        <img src="/assets/instagram-icon.svg" alt="Instagram" width="24" height="24">
                    </a>
                </li>
            </ul>

        </section>

        <!-- Desktop navigation -->
        <nav class="footer-navigation">

            <section class="footer-column">
                <h2>Services</h2>

                <ul>
                    <li><a href="/">Click & Collect</a></li>
                    <li><a href="/">Pre-loved</a></li>
                    <li><a href="/">Buyback</a></li>
                    <li><a href="/">Rentals</a></li>
                    <li><a href="/">In-store workshops</a></li>
                    <li><a href="/">Cycle to Work</a></li>
                </ul>
            </section>

            <section class="footer-column">
                <h2>Help</h2>

                <ul>
                    <li><a href="/">FAQ & Support</a></li>
                    <li><a href="/">Find a store</a></li>
                    <li><a href="/">Delivery & returns</a></li>
                    <li><a href="/">Track my order</a></li>
                    <li><a href="/">Product recall</a></li>
                    <li><a href="/">Payment</a></li>
                    <li><a href="/">Warranty</a></li>
                </ul>
            </section>

            <section class="footer-column">
                <h2>About</h2>

                <ul>
                    <li><a href="/">Circularity</a></li>
                    <li><a href="/">Accessibility</a></li>
                    <li><a href="/">Affiliate program</a></li>
                    <li><a href="/">Decathlon for Business</a></li>
                    <li><a href="/">Careers</a></li>
                    <li><a href="/">Press</a></li>
                </ul>
            </section>

        </nav>

        <!-- Mobile navigation -->
        <nav class="footer-navigation-mobile">

            <details>
                <summary>
                    <span>Services</span>
                    <img src="/assets/plus-icon-light.svg" alt="" class="plus-icon" width="16" height="16">
                </summary>

                <ul>
                    <li><a href="/">Click & Collect</a></li>
                    <li><a href="/">Pre-loved</a></li>
                    <li><a href="/">Buyback</a></li>
                    <li><a href="/">Rentals</a></li>
                    <li><a href="/">In-store workshops</a></li>
                    <li><a href="/">Cycle to Work</a></li>
                </ul>
            </details>

            <details>
                <summary>
                    <span>Help</span>
                    <img src="/assets/plus-icon-light.svg" alt="" class="plus-icon" width="16" height="16">
                </summary>

                <ul>
                    <li><a href="/">FAQ & Support</a></li>
                    <li><a href="/">Find a store</a></li>
                    <li><a href="/">Delivery & returns</a></li>
                    <li><a href="/">Track my order</a></li>
                    <li><a href="/">Product recall</a></li>
                    <li><a href="/">Payment</a></li>
                    <li><a href="/">Warranty</a></li>
                </ul>
            </details>

            <details>
                <summary>
                    <span>About</span>
                    <img src="/assets/plus-icon-light.svg" alt="" class="plus-icon" width="16" height="16">
                </summary>

                <ul>
                    <li><a href="/">Circularity</a></li>
                    <li><a href="/">Accessibility</a></li>
                    <li><a href="/">Affiliate program</a></li>
                    <li><a href="/">Decathlon for Business</a></li>
                    <li><a href="/">Careers</a></li>
                    <li><a href="/">Press</a></li>
                </ul>
            </details>

        </nav>

        <div class="footer-bottom">

            <a href="/" class="footer-logo">
                <img src="/assets/logo-footer.svg" alt="Decathlon logo" width="140" height="28">
            </a>

            <p class="copyright">
                © 2023 Decathlon
            </p>

        </div>

    </footer>

        <script src="/js/script.js" type="module"></script>
</body>
</html>