<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decathlon</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/styleguide.css">
</head>
<body>
    <header>

        <div class="shipping-info">
            <p>Free delivery on orders over €60</p>
        </div>

        <nav class="navbar">
            <button type="button" class="menu-button">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <a href="/" class="logo-outer">
                <img src="/assets/Decathlon logo.svg" alt="Decathlon logo" class="logo" width="200" height="25"> 
            </a>

            <ul class="header-actions">

                <li class="help-item">
                    <a href="/">
                        <img src="/assets/help-icon.svg" alt="Help" width="25" height="25">
                    </a>
                </li>

                <li class="account-item">
                    <a href="/">
                        <img src="/assets/account-icon.svg" alt="Account" width="25" height="25">
                    </a>
                </li>

                <li class="wishlist-item">
                    <a href="/">
                        <img src="/assets/wishlist-icon.svg" alt="Wishlist" width="25" height="25">
                    </a>
                </li>

                <li class="basket-item">
                    <a href="/">
                        <img src="/assets/basket-icon.svg" alt="Basket" width="25" height="25">
                    </a>
                </li>

            </ul>
            
            <form class="search-form">
                <label for="search" class="sr-only">Search</label>
                <input type="search" name="search" placeholder="What are you looking for?">
                <img src="/assets/search-icon.svg" alt="Basket" class="search-logo" width="25" height="25">
            </form>
        </nav>
    </header>