<section class="product-detail">

    {% render 'partials/product-carousel.liquid' %}

    <section class="product-information">

        <h1 class="product-title">
            {{ product.title }}
        </h1>

        <p class="product-description">
            {{ product.summary }}
        </p>

        <p class="product-id">
            Product ID
        </p>

    </section>

        {% comment %} {% render 'partials/size-select.liquid' %} {% endcomment %}

        <p class="product-price">
            €{{ product.price }}
        </p>

        <button type="submit" class="add-to-basket-button ">
            <span>Add to basket</span>
        </button>

        {% render 'partials/product-services.liquid' %}

        {% render 'partials/product-reviews.liquid' reviews:reviews %}
</section>