<section class="product-carousel">

    <div class="carousel-viewer">

        <button type="button" class="carousel-button carousel-button-previous"></button>

        <div class="carousel-track">

            <article class="carousel-slide">
                <picture>
                    <img src="" alt="">
                </picture>
            </article>

            <article class="carousel-slide">
                <picture>
                    <img src="" alt="">
                </picture>
            </article>

            <article class="carousel-slide">
                <picture>
                    <img src="" alt="">
                </picture>
            </article>

        </div>

        <button type="button" class="carousel-button carousel-button-next"></button> 

    </div>

    <ul class="carousel-thumbnail-list">

        <li class="carousel-thumbnail-item">
            <button type="button" class="carousel-thumbnail-button">
                <picture>
                    <img src="" alt="">
                </picture>
            </button>
        </li>

        <li class="carousel-thumbnail-item">
            <button type="button" class="carousel-thumbnail-button">
                <picture>
                    <img src="" alt="">
                </picture>
            </button>
        </li>

        <li class="carousel-thumbnail-item">
            <button type="button" class="carousel-thumbnail-button">
                <picture>
                    <img src="" alt="">
                </picture>
            </button>
        </li>

    </ul>

</section>