<section class="product-detail">

    {% render 'partials/product-carousel.liquid', product:product %}

    <section class="product-information">
        <h1 class="product-brand">
            {{ product.brand }}
        </h1>
        
        <h2 class="product-title">
            {{ product.title }}
        </h2>

        <p class="product-rating">
            ★★★★★ 4.9
        </p>

        <p class="product-description">
            {{ product.summary }}
        </p>


         {% render 'partials/product-size.liquid' product: product%} 

        <p class="product-price">
            {{ product.price }} €
        </p>

        <button type="submit" class="add-to-basket-button ">
            <span>Add to basket</span>
        </button>

        {% render 'partials/product-services.liquid' %}

    </section>

        
        {% render 'partials/recommended-products.liquid'%}
        

        {% render 'partials/product-reviews.liquid' reviews:reviews %}
</section>