<section class="product-services">

    <ul class="service-list">

        <li class="service-item">
            <button type="button">
                <img src="/assets/return-icon.svg" alt="return" class="service-icon" width="25" height="25">
                <span class="service-text">365-day return for members</span>
                <img src="/assets/plus-icon.svg" alt="plus" class="service-icon" width="25" height="25">
            </button>
        </li>

        <li class="service-item">
            <button type="button">
                <img src="/assets/warranty-icon.svg" alt="warranty" class="service-icon" width="25" height="25">
                <span class="service-text">2-year warranty</span>
                <img src="/assets/plus-icon.svg" alt="plus" class="service-icon" width="25" height="25">
            </button>
        </li>

        <li class="service-item">
            <button type="button">
                <img src="/assets/support-icon.svg" alt="warranty" class="service-icon" width="25" height="25">
                <span class="service-text">Découvrez le produit en visio</span>
                <img src="/assets/plus-icon.svg" alt="plus" class="service-icon" width="25" height="25">
            </button>
        </li>

    </ul>

    <section class="delivery-options">

        <h2 class="delivery-options-title">How to get it</h2>

        <ul class="delivery-list">

            <li class="delivery-option">
                <img src="/assets/delivery-icon.svg" alt="delivery" class="delivery-icon" width="20" height="20">
                <div class="delivery-content">
                    <p class="delivery-title">
                        Delivery to
                        <a href="/">E16 1ZE</a>
                    </p>
                    <div class="delivery-status">
                        <img src="/assets/status-icon.svg" alt="available" class="available-icon" width="9" height="9">
                        <p class="delivery-status-text">
                            Get it by Mon, 3 Jun
                        </p>
                    </div>
                </div>
            </li>

            <li class="delivery-option">
                <img src="/assets/store-icon.svg" alt="store" class="store-icon" width="20" height="20">
                <div class="delivery-content">
                    <p class="delivery-title">
                        Decathlon
                        <a href="/">Croydon</a>
                    </p>
                    <div class="delivery-status">
                        <img src="/assets/status-icon.svg" alt="available" class="available-icon" width="9" height="9">
                        <p class="delivery-status-text">
                            Click & Collect today
                        </p>
                    </div>
                </div>
            </li>

            <li class="delivery-option">
                <img src="/assets/pick-up-icon.svg" alt="store" class="pick-up-icon" width="20" height="20">
                <div class="delivery-content">
                    <p class="delivery-title">
                        Pick-up point
                    </p>
                    <div class="delivery-status">
                        <img src="/assets/status-icon.svg" alt="available" class="available-icon" width="9" height="9">
                        <p class="delivery-status-text">
                            Ready by Mon, 3 Jun
                        </p>
                    </div>
                </div>
            </li>

        </ul>

    </section>

</section>