<section class="product-services">

    <ul class="service-list">

        <li class="service-item">
            <button type="button">
                <img src="/assets/return-icon.svg" alt="return" class="service-icon" width="25" height="25">
                <span class="service-text">365-day return for members</span>
                <img src="/assets/plus-icon.svg" alt="plus" class="service-icon" width="25" height="25">
            </button>
        </li>

        <li class="service-item">
            <button type="button">
                <img src="/assets/warranty-icon.svg" alt="warranty" class="service-icon" width="25" height="25">
                <span class="service-text">2-year warranty</span>
                <img src="/assets/plus-icon.svg" alt="plus" class="service-icon" width="25" height="25">
            </button>
        </li>

        <li class="service-item">
            <button type="button">
                <img src="/assets/support-icon.svg" alt="warranty" class="service-icon" width="25" height="25">
                <span class="service-text">Découvrez le produit en visio</span>
                <img src="/assets/plus-icon.svg" alt="plus" class="service-icon" width="25" height="25">
            </button>
        </li>

    </ul>

    <section class="delivery-options">

        <h2>How to get it</h2>

        <ul class="delivery-list">

            <li class="delivery-option">

                <span class="delivery-icon"></span>

                <div class="delivery-content">

                    <p class="delivery-title">
                        Delivery to
                        <a href="/">E16 1ZE</a>
                    </p>

                    <p class="delivery-status">
                        Get it by Mon, 3 Jun
                    </p>

                </div>

            </li>

            <li class="delivery-option">

                <span class="delivery-icon"></span>

                <div class="delivery-content">

                    <p class="delivery-title">
                        Decathlon
                        <a href="/">Croydon</a>
                    </p>

                    <p class="delivery-status">
                        Click & Collect today
                    </p>

                </div>

            </li>

            <li class="delivery-option">

                <span class="delivery-icon"></span>

                <div class="delivery-content">

                    <p class="delivery-title">
                        Pick-up point
                    </p>

                    <p class="delivery-status">
                        Ready by Mon, 3 Jun
                    </p>

                </div>

            </li>

        </ul>

    </section>

</section>