<section class="product-reviews">
    <div class="form-wrapper">
        <form id="" class="review-form" method="POST" action="">
            <h2>Write a review</h2>

            <label for="reviewer-name">Name</label>
            <input type="text" id="reviewer-name" name="reviewer-name" required>

            <label for="review-description">Review</label>
            <textarea id="review-description" name="review-description" rows="5" required></textarea>

            <fieldset>
                <legend>Overall rating</legend>

                <div class="star-rating">

                    <input type="radio" id="rating-5" name="rating" value="5">
                    <label for="rating-5">★</label>

                    <input type="radio" id="rating-4" name="rating" value="4">
                    <label for="rating-4">★</label>

                    <input type="radio" id="rating-3" name="rating" value="3">
                    <label for="rating-3">★</label>

                    <input type="radio" id="rating-2" name="rating" value="2">
                    <label for="rating-2">★</label>

                    <input type="radio" id="rating-1" name="rating" value="1">
                    <label for="rating-1">★</label>

                </div>
            </fieldset>

            <fieldset>
                <legend>Features</legend>

                <label for="grip-rating">Grip</label>
                <select id="grip-rating" name="grip-rating" required>
                    <option value="">Select rating</option>
                    <option value="1">1 Star</option>
                    <option value="2">2 Stars</option>
                    <option value="3">3 Stars</option>
                    <option value="4">4 Stars</option>
                    <option value="5">5 Stars</option>
                </select>

                <label for="foot-support-rating">Foot support</label>
                <select id="foot-support-rating" name="foot-support-rating" required>
                    <option value="">Select rating</option>
                    <option value="1">1 Star</option>
                    <option value="2">2 Stars</option>
                    <option value="3">3 Stars</option>
                    <option value="4">4 Stars</option>
                    <option value="5">5 Stars</option>
                </select>

                <label for="lightweight-rating">Lightweight</label>
                <select id="lightweight-rating" name="lightweight-rating" required>
                    <option value="">Select rating</option>
                    <option value="1">1 Star</option>
                    <option value="2">2 Stars</option>
                    <option value="3">3 Stars</option>
                    <option value="4">4 Stars</option>
                    <option value="5">5 Stars</option>
                </select>

                <label for="cushioning-rating">Cushioning</label>
                <select id="cushioning-rating" name="cushioning-rating" required>
                    <option value="">Select rating</option>
                    <option value="1">1 Star</option>
                    <option value="2">2 Stars</option>
                    <option value="3">3 Stars</option>
                    <option value="4">4 Stars</option>
                    <option value="5">5 Stars</option>
                </select>
            </fieldset>

            <button type="submit">Send review</button>
        </form>
    </div>

    <section class="review-list">

    </section>

</section>


{% comment %} <h2>Reviews</h2>

{% for review in reviews %}
    <p>{{ review.name }} - {{ review.rating }}/5</p>
{% endfor %} {% endcomment %}