<li class="product-card">

    <span class="product-badge">
        Sale
    </span>

    <a href="/" class="product-link">

        <img src="" alt="" class="product-image">

        <h3 class="product-title">
            <!-- Dynamische product-title -->
        </h3>

    </a>

    <div class="product-rating">
        <!-- Dynamische rating -->
    </div>

    <p class="product-colours">
        Colours
    </p>

    <p class="product-seller">
        Seller information
    </p>

    <p class="product-price">
        <!-- Dynamische prijs -->
    </p>

</li>