@font-face {
  font-family: 'inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
    /* Font family */
    --font-main: 'Inter', Arial, sans-serif;

    /* Background colors */
    --background-main: #FFFFFF;
    --background-brand: #3643BA;
    --background-alternative: #FAFAFA;

    /* Text colors */
    --text-color-brand: #3643BA;
    --text-color-neutral: #101010;
    --text-color-quiet: #616161;
    --text-color-inverse: #FFFFFF;

    /* Text color states */
    --text-color-brand-hover: #262F82;
    --text-color-brand-active: #171C4F;

    --text-color-neutral-hover: #3643BA;
    --text-color-neutral-active: #262F82;

    --text-color-quiet-hover: #424242;
    --text-color-quiet-active: #2B2B2B;

    /* Button colors */
    --button-primary: #3643BA;

    /* Title sizes */
    --title-xl: 3rem;
    --title-l: 2.25rem;
    --title-m: 1.75rem;
    --title-s: 1.5rem;
    --title-xs: 1.25rem;
    --title-xxs: 1rem;
    --title-xxxs: .85rem;

    /* Text sizes */
    --text-xl: 1.125rem;
    --text-l: 1rem;
    --text-ml: 0.92rem;
    --text-m: 0.875rem;
    --text-s: 0.75rem;
    --text-xs: 0.6875rem;
    --text-xxs: 0.6rem

    /* Font weights */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-main: #1A1A1A;
        --text-color-primary: #FFFFFF;

        /* Text colors */
        --text-color-neutral: #FFFFFF;
        --text-color-quiet: #B3B3B3;
    }
}



