*{
    padding: 0;
    margin: 0;
    font-family: var(--font-main);
}

/* header */

.shipping-info{
    text-align: center;
    background: var(--background-brand);
    padding: 1em;
    color: white;
}

/* dit is om de label die hoort bij de input onzichtbaar te maken */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

/* product-carousel */

.product-gallery {
    max-width: 800px;
    position: relative;
    padding: 0 .2em;
}

.main-image {
    width: 100%;
    display: block;
    view-transition-name: product-image;
}

.thumbnails {
    display: flex;
    gap: .5rem;
    list-style: none;
    padding: 0 ;
    flex-wrap: wrap;
}

.thumbnails img {
    width: 80px;
    height: auto;
    display: block;
    opacity: 0.7;
    transition: 0.3s;
}

.thumbnails a.active img {
    border: 2px solid rgb(108, 108, 108);
    transform: scale(1.10);
    opacity: 1;
}

.thumbnails a img:hover{
    border: 2px solid rgb(107, 107, 107);
}

::view-transition-old(product-image),
::view-transition-new(product-image) {
    animation-duration: 0.4s;
}

::view-transition-new(product-image) {
    animation: fade-in 0.4s ease;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.previous-button,
.next-button {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.65);
    transition: 0.2s ease;
}

.previous-button:hover,
.next-button:hover {
    transform: translateY(-50%) scale(1.1);
}

.previous-button {
    left: .7rem;
}

.next-button {
    right: .7rem;
}


/* product-reviews */

.form-wrapper {
    padding: 1.5rem;
    border: 1px solid #E5E5E5;
    border-radius: 1rem;
    background-color: white;
}

.review-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.review-form input,
.review-form textarea,
.review-form select {
    width: 90%;
    padding: 0.75rem;
    border: 1px solid #D9D9D9;
    border-radius: 0.5rem;
}

.error-message {
    margin-top: 0.25rem;
    color: #3643BA;
    font-size: 0.875rem;
    font-weight: 500;
}

.review-form textarea{
    height: 6rem;
}

fieldset{
    border: none;
}

legend {
    margin-bottom: .75rem;
    font-weight: 600;
}

.star-rating {
    display: flex;
    gap: .3rem;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.star-rating input {
    position: absolute;
    opacity: 0;
}

.star-rating label {
    font-size: 2rem;
    cursor: pointer;
    color: #D9D9D9;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #FFD700;
}

.star-rating input:checked + label,
.star-rating input:checked + label ~ label {
    color: #FFD700;
}

.submit-review-button{
    background: var(--button-primary);
    color: var(--text-color-inverse);
    font-size: var(--text-m);
    width: 100%;
    height: 3rem;
    cursor: pointer;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
}

.submit-review-button:hover {
    background: var(--text-color-brand-hover);
}

.submit-review-button.loading {
    color: transparent;
    position: relative;
}

.submit-review-button.loading::after {
    content: "";
    width: 40px;
    aspect-ratio: 4;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    --_g: no-repeat radial-gradient(circle closest-side, #fff 90%, #0000);

    background:
        var(--_g) 0% 50%,
        var(--_g) 50% 50%,
        var(--_g) 100% 50%;

    background-size: calc(100% / 4) 100%;

    animation: loading 1s infinite linear;
}

@keyframes loading { 
    33%{background-size:calc(100%/3) 0%,calc(100%/3) 100%,calc(100%/3) 100%} 
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%,calc(100%/3) 100%} 
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%} }

.submit-review-button.success {
    background: var(--background-brand);
}

.submit-review-button {
    view-transition-name: review-button;
}



.review-list-title{
    margin: .9em 0 .7em 0;
    font-size: var(--title-s);
}

.review-list{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}

.review-card{
    display: flex;
    flex-direction: column;
    gap: .6em;
}

.review-description{
    margin-bottom: 1.1em;
    font-size: var(--text-ml);
}

.review-rating,
.attribute-score {
    letter-spacing: -0.2em;
}

.attribute-score {
    font-size: var(--text-m);
    letter-spacing: 0.03em;
}

.review-meta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.2rem;
    font-size: var(--text-m);
    color: #3a3a3a;
}

.review-attributes{
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.review-attribute{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: .8em;
    font-size: var(--text-m);
    color: #3a3a3a;
}

.article-underline {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #cccccc;
    margin-top: 1.4rem;
}

/* footer */

.footer-navigation {
    display: none;
    
    @media (min-width: 768px) {
        display: flex;
        gap: 2rem;
    }

    @media (min-width: 1100px) {
        gap: 4rem;
    }
}

.footer-navigation-mobile {
    display: none;
}


.footer-navigation-desktop {
    @media (max-width: 768px) {
        display: none;
    }
}

.footer-navigation-mobile {
    @media (max-width: 768px) {
        display: block;
    }
}
